﻿@model IEnumerable<TheaterReservering.Models.Reservering>

    <form asp-action="EditWithKlantId">
        <input type="hidden" name="KlantId" value="@ViewData["KlantId"]" />
        <table class="table table-center">
            <thead>
                <tr>
                    @for (int i = 1; i <= 6; i++)
                    {
                        <td>@i</td>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                   @{ int cnt = 0; } 
                    @foreach (var item in Model)
                    {
                        if(cnt++ % 6 == 0)
                        {
                            @:</tr><tr>
                        }
                        <td>
                            @if (item.KlantId == (int)ViewData["KlantId"])
                            {
                                <input type="checkbox" name="reserveringsIds" value="@item.Id" @Html.Raw(item.Bezet ? "checked='checked'" : "") />
                                <p class="bg-primary text-white">@item.Naam</p>
                            }
                            else if (item.Bezet)
                            {
                                <input type="checkbox" name="reserveringsIds" value="@item.Id" @Html.Raw(item.Bezet ? "checked='checked'" : "") />
                                <p class="bg-danger text-white">@item.Naam</p>
                            }
                            else 
                            {
                                <input type="checkbox" name="reserveringsIds" value="@item.Id" @Html.Raw(item.Bezet ? "checked='checked'" : "") />
                                <p class="bg-success text-white">@item.Naam</p>
                            }
                        </td>
                    }
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Reserveringen vastleggen" class="btn btn-primary" />
        </div>
    </form>