﻿@model IEnumerable<TheaterReservering.Models.Klant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Woonplaats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Reserveringen</th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Woonplaats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @{
                    var cnt = 1;
                    foreach (Reservering res in item.Reserveringen)
                    {
                        if (cnt++ % 5 == 0)
                        {
                            @:<br />
                        }
                        @res.Naam @:&nbsp;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-controller="Reservering" asp-action="EditWithKlantId" asp-route-id="@item.Id" class="btn btn-primary">Reserveren</a>
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td><b>Aantal klanten is:</b></td>
            <td><b>@Model.Count()</b></td>
        </tr>
    </tfoot>
</table>
